<h1>Paraméteres</h1>

<form [formGroup]="parametersForm" (ngSubmit)="onSubmit()">
    <select formControlName="pomodoros" class="form-control">
        <option value="" disabled >Choisissez la durée de vos pomodors</option>
        <option *ngFor="let pomodoro of pomodoros" [ngValue]="pomodoro">
            {{ pomodoro }}
        </option>
    </select>
    <div class="text-right mt-3">
        <button
            type="submit"
            [disabled]="!parametersForm.valid"
            class="btn btn-success">
            Sauvegarder
        </button>
    </div>
</form>