<form novalidate [formGroup]="loginForm" (ngSubmit)="submit()" class="card-body">

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="Votre Email"
            autocorrect="off" autocomplete="off" />
        <small *ngIf="email.errors && email.dirty" class="form-text text-muted">
            <span [hidden]="!email.errors.required">
                Email requis.
            </span>
            <span [hidden]="!email.errors.email">
                Entrez une adresse email valide.
            </span>
        </small>
    </div>

    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password" class="form-control"
            placeholder="Votre mot de passe" autocorrect="off" autocomplete="off" />
        <small *ngIf="password.errors && password.dirty" class="form-text text-muted">
            <span [hidden]="!password.errors.required">
                Mot de passe requis.
            </span>
            <span [hidden]="!password.errors.minlength">
                Le mot de passe doit faire plus de 6 caractères.
            </span>
            <span [hidden]="!password.errors.maxlength">
                Le mot de passe doit faire moins de 20 caractères.
            </span>
        </small>
    </div>

    <p class="text-center py-3">
        <button type="submit" class="btn" [disabled]="!loginForm.valid"
            [ngClass]="{'btn-success':loginForm.valid, 'btn-default':!loginForm.valid}">
            Inscription
        </button>
    </p>


</form>